html,
body {
  height: 100%;
  margin: 0;
}

.togglebuttons {
    /* color: black;
    background-color: darkgray; */
    border: none;
    width: 80%;
}

.box {
  height: 100%;
  width: 100%;
}

#header {
    height: 10%;
    background-color: lightgrey;
}
#footer {
    height: 10%;
    background-color: lightgrey;
}
#content {
    height: 80%;
}

#footer-sections{
    width: 100%;
    height: 80%;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}
.col-sm.footer-section-small {
    width: 15%;
    text-align: center;
}
.col-sm.footer-section-large {
    width: 70%;
    text-align: center;
}

.welcome-text {
    height: 20%;
    text-align: center;
    padding-top: 1%;
}

#map {
    height: 80%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#rlp-form {
    height: 20%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    
}
#graphbox {
    height: 60%;
    text-align: center;
    overflow: auto;
}