<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
  </head>
  <body>
    
    <main>
        <h1>Generate the houses:</h1>  
        <p1>Submit a data.geojson file below, then click on the 'generate' button.</p1>

        <br>
        <br>
        <br>

        {% if form %}
        
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Generate">
          </form>
        {% endif %}
        
        <br>
        <br>
        <br>

        {% if graph %}
          {{ graph|safe }}
        {% else %}
          <h3>Nothing yet submitted.</h3>
        {% endif %}


    </main>
    
  </body>
</html>